# vim: set filetype=systemd:

[Unit]
Description=Watch Activity Switch
StartLimitIntervalSec=60
StartLimitBurst=4
After=plasma-kactivitymanagerd.service
Requires=plasma-kactivitymanagerd.service

[Service]
ExecStart=%h/.local/bin/activity_changed
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
